/* Define variables */
:root {
    /* Colors */
    --primary-color: #FF8000; /* Orange */
    --secondary-color: #007FFF; /* Blue */
    --footer-color: ##D8D8D8; /* Light Gray */

    --primary-color-dark: #E57200; /* Darker Orange */
}