/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&family=Inter:wght@300;400;600&display=swap');

/* Define variables */
:root {
    /* Fonts */
    --primary-font: 'Judson', serif;
    --secondary-font: 'Inter', sans-serif;
    
    /* Colors */
    --primary-color: #FF8000; /* Orange */
    --secondary-color: #007FFF; /* Blue */
}