/* General Styles */
body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: black;
    padding: 20px 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.hero img {
    width: 100%;
    height: auto;
}

.about, .categories {
    padding: 20px;
    text-align: center;
}

/* Adjust category images */
.categories .category-slider {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    gap: 20px; /* Increase spacing between images */
    overflow-x: scroll; /* Allow horizontal scrolling */
}


/* Optional: Hide scrollbar for a cleaner look */
.categories .category-slider::-webkit-scrollbar {
    display: none;
}
.categories header{
    text-align: left;
}
.categories .category img {
    width: 200px; /* Increase width */
    height: 300px; /* Increase height */
    object-fit: cover;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--footer-color);
    color: white;
}
